[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Archers Package Manager
GenericName=Archers Package Manager
Comment=Yet another Arch Linux PAckage Manager
Exec=yalpam
Icon=system-software-install
Terminal=false
Categories=GNOME;GTK;System;Settings;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
StartupNotify=true
