[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=yalpam
GenericName=Package Manager
Comment=Yet another Arch Linux PAckage Manager
Exec=yalpam
Icon=system-software-install
Terminal=false
StartupNotify=false
Categories=System;
X-Desktop-File-Install-Version=0.23
